body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7CC6FE;
}
.centerBox{
    display: flex;
    padding: auto;
    justify-content: center;
    height: 500px;
    width: 500px;
    flex-direction: column;
}
.display{
    height: 80px;
    background-color: #CCD5FF;
    border-color: #23C9FF;
    border-width: 10px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.controls{
    width: 100%;
    display: flex;
}
.numbers{
    display: flex;
    flex: 1 1 auto;
}
.column {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
}
.operators{
    flex: 1 0 0;
}
button,#blank{
    flex: 1 1 0;
    font-size: 16px;
    padding: 8px;
    border-radius: 0;
    border-color: #c884a6;
    border-width: 2px;
    border-style: solid;
    background-color: #e7bbe3;
}
button:hover{
    background-color: #c884a6;
}
.number {
    flex-grow: 1;
    height: 100%;
}
#displayValue{
    padding: 10px;
    font-size: 20px;
}
#equals{
    flex-grow: 3;
}